@charset "UTF-8";

/* Formatação do Body */	
body {
	background-color: rgba(0, 170, 255, 1);
	padding:0;
	margin:0;
	top:0;
	width: 100vw;
	height: 100vh;
}


.container{
	display: block;
	position: relative;
	background-color: rgba(0, 170, 255, 1);
	width: 100vw;
	height: 100vh;
	margin: auto;
}


div#logo{
	display: block;
	position: relative;
	background-color: rgba(0, 170, 255, 1);
	padding: 10px;
	margin: 0;
	width: 100vw;
	height: 150px;
}
div#logo img{
	display: block;
	position: absolute;
	opacity: 0.6;
	height: 100px;
	padding: 15px;
	padding-top: 1%;
	margin: 0;
}


div#logo img:hover{
	height: 150px;
	padding-top: 0;
	opacity: 1;
	transition: 0.5s;
}	

.front{
	display: block;
	position: relative;
	background-color: rgba(0, 170, 255, 1);
	text-align: center;
	top: 0;
	width: 100vw;
	height: 100%;
	margin: auto;
	padding: 0;
	
}


.front h1{
	display: block;
	position: relative;
	font-family: Century Gothic;
	font-size: 45pt;
	text-align: center;
	top: 0;
	padding: 0;
	margin: 0px 0px 10px 10px;
	color: rgba(39, 39, 82, 1);
	font-weight: bold;
	border: 0;
}


.front h2{
	display: block;
	position: relative;
	font-family: Century Gothic;
	font-size: 45pt;
	text-align: center;
	top: 0;
	padding: 0;
	margin: 0px 0px 10px 0px;
	color: rgba(39, 39, 82, 1);
	font-weight: bold;
	border: 0;
}


.front p{
	display: block;
	position: relative;
	font-family: Candara;
	font-size: 25pt;	
	text-align: justify;
	text-indent: 30pt;
	padding: 10px 100px 60px 100px;
	margin: 0;
	display: block;
	position: relative;
	color: white;
	top: 0;
}

a{
	text-decoration: none;	
	color: rgba(39, 39, 82, 1);
}


a:hover{
	color: rgba(39, 39, 82, 1);
	font-weight: bold;
}


@media only screen and (min-width: 300px) and (max-width: 1200px) {
	.front h1{
	display: block;
	position: relative;
	font-family: Century Gothic;
	font-size: 55pt;
	text-align: center;
	top: 0;
	padding: 10px;
	margin: 10px 20px 10px 20px;
	color: rgba(39, 39, 82, 1);
	font-weight: bold;
	border: 0;
}

	.front h2{
	display: block;
	position: relative;
	font-family: Century Gothic;
	font-size: 55pt;
	text-align: center;
	top: 0;
	padding: 10px;
	margin: 10px 0px 10px 20px;
	color: rgba(39, 39, 82, 1);
	font-weight: bold;
	border: 0;
}


.front p{
	display: block;
	position: relative;
	font-family: Candara;
	font-size: 32pt;	
	text-align: justify;
	text-indent: 30pt;
	padding: 10px 100px 60px 100px;
	margin: 0;
	display: block;
	position: relative;
	color: white;
	top: 0;
}


div#logo img{
	height: 150px;
}


div#logo img:hover{
	height: 150px;
}	

}


