@charset "UTF-8";

/* Formatação do Body */	
body {
	font-family: Arial; sans-serif;
	background-color: rgba(29, 15, 54, 1);
	color: rgba(0, 0, 0, 1);
	padding: 0;
	margin: 0;
	min-width: 100vw;
}


.container{
	display: block;
	text-transform: uppercase;
	background-color: red;
	text-align: center;
	width: 100vw;
	height: 100vh;
}

.front{
	display: in-block;
	background-color: rgba(1, 210, 114, 1);
	text-align: center;
	float: left;
	width: 50vw;
	height: 100%;
	margin: 0;
}

.front img{
	align-items: center;
	display: block;
	justify-content: center;
	text-align: center;
	position: relative;
	margin: auto;
	padding: 0;
	top: 15%;
	width: 62%;
	height: 40%;
}

.front p{
	font-family: Century Gothic;
	display: block;
	position: relative;
	color: white;
	font-size: 50pt;	
	font-weight: bold;
	top: 11%;
}


.front:hover{
	background-color: rgba(0, 255, 136, 1);
}

.back{
	display: in-block;
	background-color: rgba(0, 152, 218, 1);
	text-align: center;
	float: right;
	width: 50vw;
	height: 100%;
	margin: 0;
}

.back img{
	align-items: center;
	display: block;
	justify-content: center;
	text-align: center;
	position: relative;
	margin: auto;
	padding: 0;
	top: 20%;
	width: 75%;
	height: 32%;

}

.back p{
	font-family: Century Gothic;
	display: block;
	position: relative;
	color: white;
	font-size: 50pt;	
	font-weight: bold;
	top: 19%;
}


.back:hover{
	background-color: rgba(0, 170, 255, 1);
}


@media only screen and (min-width: 300px) and (max-width: 1200px) {
	.front{
		display: block;
		width: 100%;
		height: 50%;
		position: relative;
		vertical-align: top;
	}

	.back{
		display: block;
		width: 100%;
		height: 50%;
		position: relative;
		vertical-align: top;
	}
}


