@charset "UTF-8";

/* Formatação do Body */	
body {
	font-family: Arial; sans-serif;
	background-color: rgba(29, 15, 54, 1);
	color: rgba(0, 0, 0, 1);
	padding: 0;
	margin: 0;
	min-width: 100vw;
}


.container{
	display: block;
	text-transform: uppercase;
	background-color: red;
	text-align: center;
	width: 100vw;
	height: 100vh;
}

.front{
	display: in-block;
	background-color: rgba(1, 210, 114, 1);
	text-align: center;
	float: left;
	width: 50vw;
	height: 100%;
	margin: 0;
}

.front img{
	align-items: center;
	display: block;
	justify-content: center;
	text-align: center;
	position: relative;
	margin: auto;
	padding: 0;
	top: 15%;
	width: 65%;
	height: 42%;
}

.front p{
	font-family: Century Gothic;
	display: block;
	position: relative;
	color: white;
	font-size: 50pt;	
	font-weight: bold;
	top: 11%;
}


.front:hover{
	background-color: rgba(0, 255, 136, 1);
}

.front a{
	text-decoration:none;
}


.front p:hover{
	font-size: 80pt;
	transition: 0.5s;
	letter-spacing: 2px;
	top: 5%;
}

.back{
	display: in-block;
	background-color: rgba(0, 152, 218, 1);
	text-align: center;
	float: right;
	width: 50vw;
	height: 100%;
	margin: 0;
}

.back img{
	align-items: center;
	display: block;
	justify-content: center;
	text-align: center;
	position: relative;
	margin: auto;
	padding: 0;
	top: 18%;
	width: 73%;
	height: 35%;

}

.back p{
	font-family: Century Gothic;
	display: block;
	position: relative;
	color: white;
	font-size: 50pt;	
	font-weight: bold;
	top: 18%;
}


.back:hover{
	background-color: rgba(0, 170, 255, 1);
}


.back a{
		text-decoration: none;
}	


.back p:hover{
	font-size: 80pt;
	transition: 0.5s;
	letter-spacing: 2px;
	top: 10%;
}



@media only screen and (min-width: 300px) and (max-width: 1200px) {
	.front{
		display: block;
		width: 100%;
		height: 50%;
		position: relative;
		vertical-align: top;
	}

	.back{
		display: block;
		width: 100%;
		height: 50%;
		position: relative;
		vertical-align: top;
	}


.front p{
	font-family: Century Gothic;
	display: block;
	position: relative;
	color: white;
	font-size: 50pt;	
	font-weight: bold;
	top: 20%;
}

.front a{
	text-decoration:none;
}


.front p:hover{
	color: rgba(0, 117, 62, 1);
	font-size: 50pt;
	transition: none;
	letter-spacing: 0px;
	top: 20%;
}

.back p{
	font-family: Century Gothic;
	display: block;
	position: relative;
	color: white;
	font-size: 50pt;	
	font-weight: bold;
	top: 28%;
}


.back a{
		text-decoration: none;
}	


.back p:hover{
	color: rgba(39, 39, 82, 1);
	font-size: 50pt;
	transition: none;
	letter-spacing: 0px;
	top: 28%;
}

}


